<!-- <?php
$link =mysql_connect('localhost',''mysql_user')
?> -->



<!DOCTYPE html>
<html>
    <head>
        LOGIN PAGE
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        
        <form name = "login" action = "" method = "get">
            <div class = "container" name = "loginInformation">
                <!-- <br></br> -->
                <label for = "username"><b>Username</b></label>
                <input type = "text" name = "username" value = "" id = "username">
                <br></br>
                <label for = "password"><b>Password</b></label>
                <input type = "text" name = "password" value = "" id = "password">
                <br></br>
                <!-- <a href="userPage.html" class="w3-bar-item w3-button">Log In</a> -->
                <button><a href = "userPage.html">Log In</a></button>
                <!-- <button type = "button" onclick= "getInfo()">Submit</button> -->
                <!-- <input type = "submit" name = "validateButton" value = "Login" onclick="showData(this.form)"> -->
            </div>
        </form>
        <script src = "main.js"></script>
    </body>

</html>